[submodule "vendor/evil-surround"]
	path = vendor/evil-surround
	url = https://github.com/timcharper/evil-surround
[submodule "vendor/helm"]
	path = vendor/helm
	url = https://github.com/emacs-helm/helm
[submodule "vendor/deft"]
	path = vendor/deft
	url = git://jblevins.org/git/deft.git
[submodule "vendor/full-ack"]
	path = vendor/full-ack
	url = https://github.com/nschum/full-ack
[submodule "vendor/calfw"]
	path = vendor/calfw
	url = https://github.com/kiwanami/emacs-calfw
