*~
*.elc
*.dat
#*#
/loaddefs.el
/elpa
/eshell
/auto-save-list
/site-lisp/imaxima
/site-lisp/doxymacs
/site-lisp/cscope
/site-lisp/magit
/site-lisp/apel
/site-lisp/color-theme
/site-lisp/emacs-jabber
/site-lisp/bookmark+
/site-lisp/slime
/site-lisp/auctex
/site-lisp/yasnippet
/site-lisp/emacs-w3m
/site-lisp/mew
/site-lisp/eim
/site-lisp/haskell-mode
